<!doctype html>
<html>
<head>
  <style>
    .log, .diff{
      white-space: pre;
      font-family:'Monaco', monospace;
      overflow:scroll;
      padding: 1rem;
      box-sizing:border-box;
      font-size:.7em;
    }
    .log{
      position:absolute;
      top:0;
      left:0;
      width:40%;
    }
    .diff{
      position:absolute;
      top:0;
      left:40%;
      width:60%;
    }
    .log a {
      text-decoration:none;
    }
    .log .active{
      background: #000;
      color:#fff;
    }
  </style>
</head>
<body>
{{{body}}}
</body>
</html>
