<!doctype html>
<html>
<head>
  <style>
    .log, .diff{
      white-space: pre;
      font-family:'Monaco', monospace;
      overflow:scroll;
      padding: 1rem;
      box-sizing:border-box;
    }
    .log{
      position:absolute;
      top:0;
      left:0;
      width:30%;
      font-size:.8em;
    }
    .diff{
      position:absolute;
      top:0;
      left:30%;
      width:70%;
    }
  </style>
</head>
<body>
{{{body}}}
</body>
</html>
